/*.test{
    height:250px;
    width:250px;
    background-color: blue;
}
.test2{
    height:250px;
    width:250px;
    background-color: black;
}

body{
    background-color: blue;
    height: 1000px;
    width: 1000px;
    cursor: none;
}
.photo{
    height: 100px;
    width: auto;
    position: relative;
}
*/